<div class="grid">
    <div class="col-12">
        <div class="card p-fluid">
            <div class="progress-spinner flex justify-content-center" *ngIf="isSpinner">
                <p-progressSpinner></p-progressSpinner>
            </div>
            <div *ngIf="!isSpinner">
                <h3 class="mb-5">{{'user.profile.edit' | translate}}</h3>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="field">
                        <label htmlFor="name">{{'name' | translate}}</label>
                        <input pInputText id="name" type="text" formControlName="name"/>
                    </div>
                    <div class="field">
                        <label htmlFor="email">{{'email' | translate}}</label>
                        <input pInputText id="email" type="text" formControlName="email" [readonly]="true"/>
                    </div>
                    <div class="field">
                        <label htmlFor="old_password">{{'user.profile.oldPassword' | translate}}</label>
                        <input pInputText id="old_password" type="password" formControlName="old_password"/>
                    </div>
                    <div class="field">
                        <label htmlFor="new_password">{{'user.profile.newPassword' | translate}}</label>
                        <input pInputText id="new_password" type="password" formControlName="new_password"/>
                    </div>
                    <div class="field">
                        <label
                            htmlFor="new_password_confirmation">{{'user.profile.newPasswordConfirmation' | translate}}</label>
                        <input pInputText id="new_password_confirmation" type="password"
                               formControlName="new_password_confirmation"/>
                    </div>
                    <div class="flex justify-content-end">
                        <button class="w-auto" pButton [loading]="isLoading" label="{{'create' | translate}}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
