<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="progress-spinner flex justify-content-center" *ngIf="isSpinner">
                <p-progressSpinner></p-progressSpinner>
            </div>
            <div *ngIf="!isSpinner">
                <div class="flex">
                    <h3 class="mb-5 ml-3 inline">{{ title | translate}}
                        <i class="pi pi-question-circle question-icon-size ml-1"
                           pTooltip="{{'tooltip.media.image' | translate}}"></i>
                    </h3>
                </div>
                <div class="my-2 col-12 flex" *ngIf="deselect || deleteSelections || upload || searchStatus">
                    <button *ngIf="deselect" pButton pRipple label="{{'deselect' | translate}}" icon="pi pi-times"
                            class="p-button-warning mr-2" (click)="deselectImages()"
                            [disabled]="selectedImages.length <= 0"></button>
                    <button *ngIf="deleteSelections" pButton pRipple label="{{'destroy' | translate}}"
                            icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedImages()"
                            [disabled]="selectedImages.length <= 0"></button>
                    <div *ngIf="upload">
                        <button
                            type="button"
                            pButton
                            icon="pi pi-plus"
                            label="{{'upload' | translate}}"
                            (click)="image_upload.toggle($event)"
                            class="p-button-success ml-2"
                        ></button>
                        <p-overlayPanel #image_upload [showCloseIcon]="true" (onHide)="reloadImages()">
                            <app-image-upload></app-image-upload>
                        </p-overlayPanel>
                    </div>
                    <button *ngIf="!isSearch && searchStatus" pButton pRipple label="{{'image.openSearch' | translate}}" icon="pi pi-search"
                            class="p-button-primary ml-2" (click)="search()"></button>
                    <button *ngIf="isSearch && searchStatus" pButton pRipple label="{{'image.closeSearch' | translate}}" icon="pi pi-times"
                            class="p-button-primary ml-2" (click)="search()"></button>
                    <p class="ml-auto mb-auto mt-auto font-bold"
                       *ngIf="selectedImages.length > 0 && multiple">{{'selectedImageCount' | translate: {count: selectedImages.length} }}</p>
                </div>

                <p-dataView #dv [value]="images" [paginator]="images.length > 0" [rows]="12" layout="grid"
                            [emptyMessage]="'dataNotFound' | translate" filterBy="full_path">
                    <ng-template pTemplate="header" class="data-view-custom">
                        <div class="flex justify-content-center" *ngIf="isSearch">
                            <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="{{'image.searchByName' | translate}}" (input)="onFilter(dv, $event)">
                        </span></div>

                    </ng-template>
                    <ng-template let-media pTemplate="gridItem" let-i="rowIndex">
                        <div class="col-12 md:col-2">
                            <div class="card border-1 surface-border p-1 image-card">
                                <div class="flex flex-column align-items-center text-center image-card-position"
                                     *ngIf="multiple">
                                    <img [src]="media.full_path" [alt]="media.full_path"
                                         class="w-10 my-5 mx-0 media-image-list-item cursor-pointer selected-transparent image-object {{ selectControl(media) ? 'selected' : null}}"
                                         (click)="selectAndDelete(media)"/>
                                    <span class="image-mime-type-info"
                                          (click)="selectAndDelete(media)">{{'image.imageDetailInfo' | translate: {extension: media.extension.toUpperCase() | translate} }}</span>
                                </div>
                                <div class="flex flex-column align-items-center text-center image-card-position"
                                     *ngIf="!multiple">
                                    <img [src]="media.full_path" [alt]="media.full_path"
                                         class="w-9 my-5 mx-0 media-image-list-item cursor-pointer selected-transparent image-object {{ selectControl(media) ? 'selected' : null}}"
                                         (click)="selectAndDelete(media)"/>
                                    <span class="image-mime-type-info"
                                          (click)="selectAndDelete(media)">{{'image.imageDetailInfo' | translate: {
                                        extension: media.extension.toUpperCase(),
                                        size: (media.size / 1000).toFixed(2) | translate
                                    } }}</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </div>
        </div>
    </div>
</div>
