.selected {
    border: 8px solid var(--primary-color) !important;
    border-radius: 12px;
    box-sizing: border-box;
}
.selected-transparent {
    border: 8px solid transparent;
}
.question-icon-size {
    font-size: 1.30rem;
}
.image-card {
    border: none;
}
