<div class="grid">
    <div class="col-12">
        <div class="card p-fluid">
            <div class="progress-spinner flex justify-content-center" *ngIf="isSpinner">
                <p-progressSpinner></p-progressSpinner>
            </div>
            <div *ngIf="!isSpinner">
                <h3 class="mb-5">{{'brand.edit' | translate}}</h3>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="field">
                        <label htmlFor="title">{{'title' | translate}}</label>
                        <input pInputText id="title" type="text" formControlName="title"/>
                    </div>
                    <div class="field">
                        <label htmlFor="path">{{'path' | translate}}</label>
                        <input pInputText id="path" type="text" formControlName="path" [readonly]="true"/>
                    </div>
                    <div class="flex justify-content-end">
                        <button class="w-auto" pButton [loading]="isLoading" label="{{'update' | translate}}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-image-list
    [multiple]="false"
    [selectedImages]="selectedImages"
    [deselect]="false"
    [deleteSelections]="false"
    [upload]="true"
    (selectedImagesEmitter)="emit($event)"
>
</app-image-list>
