.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 7rem 2rem 2rem 4rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}
.ng-touched.ng-invalid-required {
    border-color: #e24c4c;
}
.ng-dirty.ng-invalid {
    border-color: #e24c4c;
}
.ng-submitted input.ng-invalid{
    border-color: #e24c4c;
}
