.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 7rem 2rem 2rem 4rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}
.ng-touched.ng-invalid-required {
    border-color: #e24c4c;
}
.p-component-overlay{
    background-color: #EEF2FF;
    opacity: 0.5;
}

.p-datatable .p-datatable-loading-overlay {
    border-radius: 12px;
}
.ng-dirty.ng-invalid {
    border-color: #e24c4c;
}
.ng-submitted input.ng-invalid{
    border-color: #e24c4c;
}

.p-datatable .p-datatable-thead > tr > th {
    border: none;
}
.p-datatable .p-datatable-tbody > tr > td {
    border: none;
}
.p-datatable > .p-datatable-wrapper {
    border-radius: 12px;
}
.p-paginator.p-paginator-bottom {
    border: none;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    pointer-events: none;
}
.p-button.p-button-icon-only {
    width: 3rem !important;
}
.media-image-list-item {
    border-radius: 12px;
}
.p-dataview-emptymessage{
    text-align: center;
}
