<div class="card">
    <h3 class="mb-5">{{table.title | translate}}</h3>
    <p-table
        #dt1
        [value]="variables"
        [lazy]="true"
        (onLazyLoad)="load($event)"
        dataKey="id"
        [loading]="loading"
        [rowHover]="true"
        styleClass="p-datatable-gridlines"
        [paginator]="true"
        [rows]="rows"
        [totalRecords]="recordsTotal"
        esponsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let column of table.columns">
                    <div class="flex justify-content-between align-items-center">
                        {{column.data | translate}}
                        <p-columnFilter
                            type="{{column.type}}"
                            field="{{column.data}}"
                            display="menu"
                            placeholder="{{'searcyByAttribute' | translate: {attribute: column.data | translate} }}"
                            [showAddButton]="false"
                            [showMatchModes]="false"
                            [showOperator]="false"
                        ></p-columnFilter>

                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        {{'actions' | translate}}
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-variable>
            <tr>
                <td *ngFor="let view of viewColumnsForTable">
                    {{variable[view?.data]}}
                </td>
                <td class="flex">
                    <div *ngFor="let button of table.buttons" class="flex">
                        <button pButton pRipple type="button" icon="{{button.icon}}"
                                (click)="confirm(button.action, variable.id, variable)"
                                *ngIf="actionStatus(button.action, variable.id, variable)"
                                class="p-button-rounded p-button-{{ button.className }} p-button-text"></button>
                    </div>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8" class="text-center">{{'dataNotFound' | translate}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog
    header="{{ 'datatable.confirmation' | translate }}"
    key="confirm"
    icon="pi pi-exclamation-triangle"
    message="Are you sure you want to proceed?"
    acceptButtonStyleClass="p-button-text"
    rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
