<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <div class="my-2">
            <button
                (click)="trashedOrOginial()"
                pButton
                pRipple
                label="{{(checkTrashedOrOginial() ? 'datatable.originalList' : 'datatable.trashedList') | translate}}"
                icon="pi pi-{{checkTrashedOrOginial() ? 'align-center' : 'trash'}}"
                class="p-button-{{checkTrashedOrOginial() ? 'success' : 'danger'}} mr-2">
            </button>
            <button
                *ngIf="checkedItems.length > 0 && checkTrashedOrOginial() && table.restore"
                (click)="confirm('restore', checkedItems)"
                pButton
                pRipple
                label="{{ 'datatable.restore' | translate }}"
                icon="pi pi-refresh"
                class="p-button-success mr-2">
            </button>
            <button
                *ngIf="checkedItems.length > 0 && checkTrashedOrOginial() && table.forceDestroy"
                (click)="confirm('forceDestroy', checkedItems)"
                pButton
                pRipple
                label="{{ 'datatable.forceDestroy' | translate }}"
                icon="pi pi-trash"
                class="p-button-danger mr-2">
            </button>
        </div>
    </ng-template>
</p-toolbar>
<div class="card">
    <h3 class="mb-5">{{table.title | translate}}</h3>
    <p-table
        #dt1
        [value]="variables"
        [lazy]="true"
        (onLazyLoad)="load($event)"
        dataKey="id"
        [loading]="loading"
        [rowHover]="true"
        styleClass="p-datatable-gridlines"
        [paginator]="true"
        [rows]="rows"
        [totalRecords]="recordsTotal"
        esponsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th *ngIf="variables.length > 0">
                    <input
                    class="datatable-checkbox"
                    type="checkbox"
                    (change)="checkboxEvent($event, 'multiple')">
                </th>
                <th *ngFor="let column of table.columns">
                    <div class="flex justify-content-between align-items-center">
                        {{column.data | translate}}
                        <p-columnFilter
                            type="{{column.type}}"
                            field="{{column.data}}"
                            display="menu"
                            placeholder="{{'searcyByAttribute' | translate: {attribute: column.data | translate} }}"
                            [showAddButton]="false"
                            [showMatchModes]="false"
                            [showOperator]="false"
                        ></p-columnFilter>

                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        {{'actions' | translate}}
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-variable>
            <tr>
                <td>
                    <input
                        class="datatable-checkbox"
                        type="checkbox"
                        [value]="variable.id"
                        (change)="checkboxEvent($event, 'single')"
                        [checked]="checkedItems.includes(variable.id)">
                </td>
                <td *ngFor="let view of viewColumnsForTable">
                    {{variable[view?.data]}}
                </td>
                <td class="flex">
                    <div *ngFor="let button of table.buttons" class="flex">
                        <button pButton pRipple type="button" icon="{{button.icon}}"
                                (click)="confirm(button.action, variable.id, variable)"
                                *ngIf="actionStatus(button.action, variable.id, variable)"
                                class="p-button-rounded p-button-{{ button.className }} p-button-text"></button>
                    </div>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8" class="text-center">{{'dataNotFound' | translate}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog
    header="{{ 'datatable.confirmation' | translate }}"
    key="confirm"
    icon="pi pi-exclamation-triangle"
    message="Are you sure you want to proceed?"
    acceptButtonStyleClass="p-button-text"
    rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
