<div class="grid">
    <div class="col-12">

        <div class="card p-fluid">
            <div class="progress-spinner flex justify-content-center" *ngIf="isSpinner">
                <p-progressSpinner></p-progressSpinner>
            </div>
            <div *ngIf="!isSpinner">
                <h3 class="mb-5">{{'role.create' | translate}}</h3>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="field">
                        <label htmlFor="title">{{'title' | translate}}</label>
                        <input pInputText id="title" type="text" formControlName="name"/>
                    </div>
                    <div class="field">
                        <label htmlFor="selectPermission">{{'role.selectPermission' | translate}}</label>
                        <p-accordion>
                            <p-accordionTab header="{{ group.key }}"
                                            *ngFor="let group of permissionsByGroupName | keyvalue"
                                            class="line-height-3 m-0">
                                <ul>
                                    <li class="permission-list" *ngFor="let permission of group.value">
                                        <p-checkbox
                                            (onChange)="onChange(permission.id)"
                                            formControlName="permission_id"
                                            [value]="permission.id"
                                            inputId="{{permission.id}}"
                                            [label]="permission.name"
                                        ></p-checkbox>
                                    </li>
                                </ul>
                            </p-accordionTab>
                        </p-accordion>
                    </div>
                    <div class="flex justify-content-end">
                        <button class="w-auto" pButton [loading]="isButton" label="{{'update' | translate}}"></button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
